{% extends 'pages/base.html' %}
  {% block content%}
    <!-- {% if user.is_authenticated %}
      <a href="{% url 'create_post' %}">New Post</a>
    {% else %}
      <a href="{% url 'login' %}">Login</a>
    {% endif %} -->
  <h1>My Blog</h1>
  {% for post in posts %}
    <h2><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h2>
    <small>{{ post.short_content }}</small>
    <br>
    <small>{{ post.published_date }}</small>

    <!-- <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ entry.title }}</h5>
        <p class="card-text">{{ entry.content|truncatewords:30 }}</p>
      </div>
    </div> -->
    
  {% endfor %}

  {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success">
    {{ message }}
    </div>

    

    {% endfor %}
  {% endif %}
  {% endblock %}